{% extends 'base.html.twig' %}

{% block title %}Hello PresentationCompanyController!{% endblock %}

{% block body %}
<link href="/asset/css/presentation.css" rel="stylesheet">

    <div class="page-contain">
        <div class="container">
            <div class="row">
                <label class="title">Qui <span>sommes-nous</span></label>
            </div>
        </div>
        <div class="block-presentation">
            <div class="animation-div">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="block-history">
                                    <label class="title-history">L'histoire de Hobby Games</label>
                                    <p class="paragraphe-entreprise">Notre blog de jeu est la destination idéale pour les amateurs de jeux. Fondée par deux passionnés de jeux, nous avons créé une plateforme permettant à la communauté de partager des connaissances, des opinions et des expériences de jeu. Nous suivons les dernières tendances et actualités dans le monde des jeux vidéo, et nous aimons partager nos découvertes avec nos lecteurs.</p>
                                    <p class="paragraphe-entreprise">Notre plateforme est l'endroit où les fans de jeux peuvent découvrir les derniers jeux, en savoir plus sur les développeurs de jeux et les studios, et se connecter avec d'autres fans de jeux. Nous publions régulièrement des critiques, des nouvelles et des interviews avec des acteurs clés du monde du jeu. Rejoignez notre communauté en ligne dès aujourd'hui et restez au courant de tout ce qui se passe dans le monde passionnant des jeux vidéo.</p>
                                    <p>Les fondateurs de cette jeune start Up sont :</p>
                                    <ul>
                                        <li>Romain Ramanzin</li>
                                        <li>Sinan Yazici</li>
                                    </ul>
                                </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="image-entreprise">
                                    <img src="/asset/image/company.jpg">
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-teams">
            <div class="animation-div">
                <div class="container">
                    <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <div class="image-entreprise">
                                        <img src="/asset/image/team-worker.jpg">
                                    </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="block-history">
                                    <label class="title-history">L'équipe HobbyGames</label>
                                    <p class="paragraphe-entreprise">Notre équipe est composée de passionnés de jeux vidéo qui travaillent sans relâche pour offrir une expérience de qualité à notre communauté en ligne. Nous apprécions vos commentaires et suggestions, et nous travaillons en étroite collaboration avec nos lecteurs pour améliorer continuellement notre plateforme.</p>
                                    <p class="paragraphe-entreprise">Nous prenons très au sérieux la sécurité et la bonne volonté de nos communautés en ligne. C'est pourquoi nous avons mis en place un système de modération strict pour garantir que tous les commentaires et discussions se déroulent dans un environnement sain et respectueux. La réactivité de notre communauté en ligne a été incroyable, et nous sommes fiers de voir des personnes désireuses de partager leurs opinions et leurs expériences avec le reste de notre communauté.</p>
                                    <div class="icon-teams">
                                        <i class="fa-brands fa-teamspeak"></i>
                                        <i class="fa-solid fa-briefcase"></i>
                                        <i class="fa-solid fa-people-group"></i>
                                        <i class="fa-solid fa-gamepad"></i>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="block-community">
            <div class="animation-div">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="block-history">
                                <label class="title-history">La communauté</label>
                                <p class="paragraphe-entreprise">Notre communauté maintient notre blog vivant et en pleine croissance. Avec de plus en plus de commentaires, d'astuces et de visites, notre communauté donne vie à notre plateforme. Nous sommes toujours émerveillés par la passion et l'engagement de nos lecteurs dans le monde des jeux vidéo. Des discussions animées et des commentaires constructifs de notre communauté nous aident à améliorer continuellement notre plateforme et à rester connectés avec les dernières tendances et actualités du monde du jeu. Nous apprécions le soutien continu de notre communauté et travaillons sans relâche pour leur offrir une expérience de jeu en ligne riche et enrichissante.</p>
                                <div class="icon-teams">
                                    <i class="fa-solid fa-handshake-angle"></i>
                                    <i class="fa-solid fa-comment"></i>
                                    <i class="fa-solid fa-eye"></i>
                                    <i class="fa-solid fa-newspaper"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="image-entreprise">
                                    <img src="/asset/image/community.jpg">
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-second">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="block-worth">
                            <div class="icon-title">
                                <i class="fa-solid fa-gamepad"></i><label class="title-worth">La passion</label>
                            </div>
                            <label class="description-worth">Une passion commune pour le jeu vidéo, l'entraide et surtout le partage sur un même domaine.</label>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="block-worth">
                            <div class="icon-title">
                                <i class="fa-solid fa-circle-question"></i><label class="title-worth">L'interaction</label>
                            </div>
                            <label class="description-worth">Une interrogation ? Besoin de conseil ou d'avis ? Nous et nos utilisateurs sommes là pour ça !</label>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="block-worth">
                            <div class="icon-title">
                                <i class="fa-brands fa-rocketchat"></i><label class="title-worth">La communication</label>
                            </div>
                            <label class="description-worth">Avoir une interaction avec des amis ou des parfaits inconnu pour échanger sur un sujet commun.</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
