{% extends 'base.html.twig' %}

{% block title %}Hello PresentationCompanyController!{% endblock %}

{% block body %}
<link href="/asset/css/presentation.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <label class="title">Qui <span>sommes-nous</span></label>
        <div class="block-presentation">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="block-history">
                        <label class="title-history">L'histoire de Hobby Games</label>
                        <p class="paragraphe-entreprise">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <p>Les fondateurs de cette jeune start Up sont :</p>
                        <ul>
                            <li>Romain Ramanzin</li>
                            <li>Sinan Yazici</li>
                        </ul>
                    </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="image-entreprise">
                        <img src="/asset/image/company.jpg">
                    </div>
            </div>
        </div>
        <div class="block-second">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="block-worth">
                        <div class="icon-title">
                            <i class="fa-solid fa-gamepad"></i><label class="title-worth">La passion</label>
                        </div>
                        <label class="description-worth">Une passion commune pour le jeu vidéo, l'entraide et surtout le partage sur un même domaine.</label>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="block-worth">
                        <div class="icon-title">
                            <i class="fa-solid fa-circle-question"></i><label class="title-worth">L'interaction</label>
                        </div>
                        <label class="description-worth">Une interrogation ? Besoin de conseil ou d'avis ? Nous et nos utilisateurs sommes là pour ça !</label>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="block-worth">
                        <div class="icon-title">
                            <i class="fa-brands fa-rocketchat"></i><label class="title-worth">La communication</label>
                        </div>
                        <label class="description-worth">Avoir une interaction avec des amis ou des parfaits inconnu pour échanger sur un sujet commun.</label>
                    </div>
                </div>
        </div>
        <div class="block-presentation">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="image-entreprise">
                        <img src="/asset/image/team-worker.jpg">
                    </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="block-history">
                    <label class="title-history">L'équipe HobbyGames</label>
                    <p class="paragraphe-entreprise">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <p class="paragraphe-entreprise">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
