
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###


###> Exclusion des fichiers images ###
# /public/game_pictures/
# /public/game_poster/
/public/profil_pictures/
###< Exclusion des fichiers images ###