<h1>Merci de bien vouloir confirmer votre mail</h1>

<p>
    Merci de bien vouloir cliquer sur le lien pour confirmer votre mail<br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon mail</a>.
    Ce lien ne sera plus actif dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement !
</p>
