{% extends 'base.html.twig' %}

{% block title %}
  Hello MentionsLegalesController!
{% endblock %}

{% block body %}
  <link href="/asset/css/reglementations/mentions-legales.css" rel="stylesheet" />

  <div class="page-contain">
    <div class="container">
      <div class="row">
        <h1 class="title-page">Mentions Légales</h1>
        <div class="block-mentions">
          <p class="text-confidential">Ce site web est exploité par Hobbygames, situé à 10 Avenue de l'Entreprise Campus Saint-Christophe, 95800 Cergy.</p>
          <p class="text-confidential">Pour nous contacter, veuillez utiliser la page de contact ou nous envoyer un e-mail à sinan.cours@gmail.com ou romain.ramanzin@gmail.com.</p>
          <p class="text-confidential">Ce site a pour but de partager une passion commune pour les jeux vidéo et de partager les connaissances des auteurs sur un jeu en particulier, sans but lucratif.</p>
          <p class="text-confidential">Nous accordons une attention particulière à la protection des données des utilisateurs de ce site. Toutes les informations recueillies sont traitées de manière confidentielle et en conformité avec les lois applicables en matière de protection des données.</p>
          <p class="text-confidential">Hobbygames ne sera pas responsable des erreurs ou omissions dans les informations publiées sur ce site, ni des dommages résultant de l'utilisation des informations contenues sur ce site. Les opinions exprimées sur ce site sont celles des auteurs et ne reflètent pas nécessairement les opinions de Hobbygames.</p>
          <p class="text-confidential">Ce site peut contenir des liens vers des sites tiers. Hobbygames n'est pas responsable du contenu de ces sites tiers et n'endosse pas les opinions exprimées sur ces sites.</p>
        </div>
        <div class="hebergement">
          <label class="title-mentions">Hébergement - Nos serveurs</label>
          <p class="text-confidential">Ce site est hébergé par OVH</p>
          <p class="text-confidential">situé au 2 rue Kellermann, 59100 Roubaix.</p>
          <p class="text-confidential">OVH SAS au capital de 10 069 020 €</p>
          <p class="text-confidential">RCS Lille Métropole 424 761 419 00045</p>
          <p class="text-confidential">Code APE 6202A</p>
          <p class="text-confidential">N° TVA : FR 22 424 761 419</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
